%p.lead Checkout
.container
  .row
    %ul.nav.nav-tabs
      %li.active
        = link_to 'ADDRESS', '#'
      %li.disabled
        = link_to 'DELIVERY', '#'
      %li.disabled
        = link_to 'PAYMENT', '#'
      %li.disabled
        = link_to 'CONFIRM', '#'
      %li.disabled
        = link_to 'COMPLETE', '#'
  = render 'checkout/address', billing: @billing_address, shipping: @shipping_address, order: @order
