.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand
        The Bookstore
    .collapse.navbar-collapse
      = nav_bar do
        = nav_link 'HOME', root_path

        = nav_link 'SHOP', categories_path

        = render 'layouts/cart_link'

        = nav_link 'Settings', '#'

        = nav_link 'Orders', '#'

        = nav_link 'Sign out', '#'