.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand
        The Bookstore
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'HOME', root_path, style: 'display: inline;'
          |
          = link_to 'SHOP', categories_path, style: 'display: inline;'
        %li
          CART: (EMPTY)
        %li
          = link_to 'Settings', '#', style: 'display: inline;'
          |
          = link_to 'Orders', '#', style: 'display: inline;'
          |
          = link_to 'Sign out', '#', style: 'display: inline;'
